.resultPane{
    flex: 1;
    background-color: #1C2832;
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
    transform: translatey(0px);
    color: white;
    padding: 1em 1.8em 1.8em 1.8em;


}

.result{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%
}

.resultImage{
    flex:1;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;

}

.resultText{
    flex:1;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
