.navbar {
    background-color: #9C3755;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0.1em 0 0.1em;
}
.navIcons{
    font-size: 2.5em;
    color: white;
    margin-bottom: 1em;
    border-left:solid transparent 4px;
    width:100%;
}

.iconSelected{
    border-left:solid white 4px;
}