.header {
    display: flex;
    align-items: center;
    color: white;
}

.headerIcon {
    font-size: 2.5em;
    margin-right: 0.5em;
}

.panes {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.historyPane {
    flex: 1;
    margin: 1em;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: scroll;
}

.historyCard {
    background-color: #1c2832;
    border-radius: 0.3em;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
    height: 10em;
    margin-bottom: 3em;
    flex-shrink: 0;
    padding: 2em;
    word-wrap: break-word;
}
