.imagePane {
    flex: 1;
    background-color: #1c2832;
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
}

.uploadSection {
    flex: 1;
    background-color: #e1e8ee;
    margin: 1.5em 1.5em 0 1.5em;
    border: dashed 0.2em #adb9c7;
    border-radius: 0.5em;
    position: relative;
}

.sectionAtDrag{
    border: solid 0.2em #adb9c7;
    opacity: 0.9;

}


.imageSection {
    flex: 1;
    margin: 1.5em 1.5em 0 1.5em;
    border-radius: 0.5em;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;

}




.tools {
    flex: 1;
    margin: 1.5em;
    color: white;
}

.fileInput {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.uploadText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.uploadIcon {
    color: #8496a9;
    font-size: 5em;
}

.uploadTitle {
    color: #afbdc9;
}

