.header{
    display: flex;
    align-items: center;
    color: white;
}

.headerIcon{
    font-size: 2.5em;
    margin-right: 0.5em;
}

.panes{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%

}

